{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TW Trivia">
    <meta name="author" content="TW">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>TW Trivia Game</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'trivia/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'trivia/css/styles.css'%}" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://thoughtworks.com" target="_blank">Sobre</a></li>
        </ul>
        <img class="logo" src="{% static 'trivia/images/twlogo.png' %}" alt="thoughtworks logo">
      </div>

      <div class="jumbotron">
        <h1>ThoughtWorks Trivia Game</h1 >
        <p class="lead">Acerte as três perguntas no menor tempo e ganhe um prêmio!</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Iniciar!</a></p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

